{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Piracy Auditor</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="{% static 'landingPage/vendors/owl-carousel/css/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'landingPage/vendors/owl-carousel/css/owl.theme.default.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'landingPage/vendors/mdi/css/materialdesignicons.min.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'landingPage/vendors/aos/css/aos.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'landingPage/css/style.min.css' %}"
    />
  </head>
  <body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
    <header id="header-section">
      <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
        <div class="container">
          <div class="navbar-brand-wrapper d-flex w-100">
            <p>Piracy Auditor</p>

            <button
              class="navbar-toggler ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="mdi mdi-menu navbar-toggler-icon"></span>
            </button>
          </div>
          <div
            class="collapse navbar-collapse navbar-menu-wrapper"
            id="navbarSupportedContent"
          >
            <ul
              class="navbar-nav align-items-lg-center align-items-start ml-auto"
            >
              <li
                class="d-flex align-items-center justify-content-between pl-4 pl-lg-0"
              >
                <div class="navbar-collapse-logo">
                  <p>Piracy Auditor</p>
                </div>
                <button
                  class="navbar-toggler close-button"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
                </button>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#header-section"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features-section">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#digital-marketing-section"
                  >Features</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#feedback-section">Team</a>
              </li>
              <li class="nav-item btn-contact-us pl-4 pl-lg-0">
                <button
                  class="btn btn-info"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Contact Us
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="banner">
      <div class="container">
        <h1 class="font-weight-semibold">Piracy Auditor</h1>
        <h6 class="font-weight-normal text-muted pb-3">
          Welcome to our Plagiarism Detection platform, enabling you to detect
          plagiarism in text and docx files and compare two texts or files for
          originality.
        </h6>
        <div>
          <a href="{% url 'file' %}"
            ><button class="btn btn-opacity-light mr-1">Get started</button></a
          >
        </div>
        <img
          src="{% static 'landingPage/img/Group171.svg' %}"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>

    <div class="content-wrapper">
      <div class="container">
        <section class="features-overview" id="features-section">
          <div class="content-header">
            <h2>How Our Plagiarism Detection Works</h2>
            <h6 class="section-subtitle text-muted">
              Empowering originality and academic integrity in content creation.
            </h6>
          </div>
          <div class="d-md-flex justify-content-between">
            <div class="grid-margin d-flex justify-content-start">
              <div class="features-width">
                <img
                  src="{% static 'landingPage/img/Group12.svg' %}"
                  alt=""
                  class="img-icons"
                />
                <h5 class="py-3">Advanced Plagiarism Scanning</h5>
                <p class="text-muted">
                  Our platform utilizes cutting-edge technology to perform
                  comprehensive plagiarism scans, ensuring that all submitted
                  content is thoroughly checked for originality and proper
                  attribution.
                </p>
              </div>
            </div>
            <div class="grid-margin d-flex justify-content-center">
              <div class="features-width">
                <img
                  src="{% static 'landingPage/img/Group7.svg' %}"
                  alt=""
                  class="img-icons"
                />
                <h5 class="py-3">Detailed Similarity Reports</h5>
                <p class="text-muted">
                  Upon completing the plagiarism scan, users receive detailed
                  similarity reports that highlight any matched content from
                  external sources, facilitating proper citation and avoiding
                  accidental plagiarism.
                </p>
              </div>
            </div>
            <div class="grid-margin d-flex justify-content-end">
              <div class="features-width">
                <img
                  src="{% static 'landingPage/img/Group5.svg' %}"
                  alt=""
                  class="img-icons"
                />
                <h5 class="py-3">Educational Resources</h5>
                <p class="text-muted">
                  We offer valuable educational resources on plagiarism
                  awareness, citation guidelines, and best practices for content
                  creators to promote a culture of originality and academic
                  honesty.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section
          class="digital-marketing-service"
          id="digital-marketing-section"
        >
          <div class="row align-items-center">
            <div
              class="col-12 col-lg-7 grid-margin grid-margin-lg-0"
              data-aos="fade-right"
            >
              <h3 class="m-0">Welcome to Plagiarism Detector!</h3>
              <div class="col-lg-7 col-xl-6 p-0">
                <p class="py-4 m-0 text-muted">
                  Our website offers a powerful plagiarism detection tool to
                  help students, teachers, researchers, and writers maintain
                  academic integrity. With our advanced algorithms, we can
                  efficiently compare texts and identify any instances of
                  potential plagiarism.
                </p>
                <p class="font-weight-medium text-muted"></p>
              </div>
            </div>
            <div
              class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0"
              data-aos="fade-left"
            >
              <img
                src="{% static 'landingPage/img/Group1.png' %}"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="row align-items-center">
            <div
              class="col-12 col-lg-7 text-center flex-item grid-margin"
              data-aos="fade-right"
            >
              <img
                src="{% static 'landingPage/img/Group2.png' %}"
                alt=""
                class="img-fluid"
              />
            </div>
            <div
              class="col-12 col-lg-5 flex-item grid-margin"
              data-aos="fade-left"
            >
              <h3 class="m-0">Why Choose Plagiarism Detector?</h3>
              <div class="col-lg-9 col-xl-8 p-0">
                <p class="py-4 m-0 text-muted">
                  Plagiarism Detector provides accurate and reliable results in
                  real-time, ensuring that you can submit or publish your work
                  with confidence. Our user-friendly interface and detailed
                  reports make it easy to understand the similarities and
                  originality of your content.
                </p>
                <p class="pb-2 font-weight-medium text-muted"></p>
              </div>
            </div>
          </div>
        </section>
        <section class="case-studies" id="case-studies-section">
          <div class="row grid-margin">
            <div class="col-12 text-center pb-5">
              <h2>Some Key features</h2>
              <h6 class="section-subtitle text-muted">
                Empowering originality and academic integrity.
              </h6>
            </div>
            <div
              class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0"
              data-aos="zoom-in"
            >
              <div class="card color-cards">
                <div class="card-body p-0">
                  <div class="bg-primary text-center card-contents">
                    <div class="card-image">
                      <img
                        src="{% static 'landingPage/img/Group95.svg' %}"
                        class="case-studies-card-img"
                        alt=""
                      />
                    </div>
                    <div
                      class="card-desc-box d-flex align-items-center justify-content-around"
                    >
                      <div>
                        <h6 class="text-white pb-2 px-3">
                          Detect plagiarism in uploaded files, to ensure
                          academic integrity and originality.
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">File Plagiarism Detection</h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="card color-cards">
                <div class="card-body p-0">
                  <div class="bg-warning text-center card-contents">
                    <div class="card-image">
                      <img
                        src="{% static 'landingPage/img/Group108.svg' %}"
                        class="case-studies-card-img"
                        alt=""
                      />
                    </div>
                    <div
                      class="card-desc-box d-flex align-items-center justify-content-around"
                    >
                      <div>
                        <h6 class="text-white pb-2 px-3">
                          Detect plagiarism in textual content, such as essays,
                          articles, and reports, to prevent content theft and
                          maintain authenticity.
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Text Plagiarism Detection</h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="card color-cards">
                <div class="card-body p-0">
                  <div class="bg-violet text-center card-contents">
                    <div class="card-image">
                      <img
                        src="{% static 'landingPage/img/Group126.svg' %}"
                        class="case-studies-card-img"
                        alt=""
                      />
                    </div>
                    <div
                      class="card-desc-box d-flex align-items-center justify-content-around"
                    >
                      <div>
                        <h6 class="text-white pb-2 px-3">
                          Compare two blocks of text to identify similarities,
                          potential paraphrasing, and overlapping content.
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Text-to-Text Comparison</h6>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-md-6 col-lg-3 stretch-card"
              data-aos="zoom-in"
              data-aos-delay="600"
            >
              <div class="card color-cards">
                <div class="card-body p-0">
                  <div class="bg-success text-center card-contents">
                    <div class="card-image">
                      <img
                        src="{% static 'landingPage/img/Group7.svg' %}"
                        class="case-studies-card-img"
                        alt=""
                      />
                    </div>
                    <div
                      class="card-desc-box d-flex align-items-center justify-content-around"
                    >
                      <div>
                        <h6 class="text-white pb-2 px-3">
                          Compare two files, such as documents or presentations,
                          to identify matching content and potential instances
                          of file-level plagiarism.
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">File-to-File Comparison</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="customer-feedback" id="feedback-section">
          <div class="row justify-content-center">
            <div class="col-12 text-center pb-5">
              <h2>Our Team</h2>
            </div>
            <div
              class="owl-carousel owl-theme grid-margin d-flex justify-content-center"
            >
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img
                      src="{% static 'landingPage/img/tanwi.png' %}"
                      width="89"
                      height="89"
                      alt=""
                      class="img-customer"
                    />
                    <p class="m-0 py-3 text-muted"></p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Tanwi Geetika</h6>
                    <h6 class="customer-designation text-muted m-0">
                      40111320
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="contact-us"
          id="contact-section"
          style="
            background-image: url('{% static 'landingPage/img/gdpr.jpg' %}');
          "
        >
          <div class="contact-us-bgimage grid-margin">
            <div class="pb-4">
              <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">
                Have any questions?
              </h4>
              <h4 class="pt-1" data-aos="fade-down">Contact us</h4>
            </div>
            <div data-aos="fade-up">
              <button
                data-toggle="modal"
                data-target="#exampleModal"
                class="btn btn-rounded btn-outline-danger"
              >
                Contact us
              </button>
            </div>
          </div>
        </section>

        <footer class="border-top">
          <p class="text-center text-muted pt-4">
            Made with <span class="mdi mdi-heart text-danger"></span> by Tanwi
            Geetika.
          </p>
        </footer>
        <!-- Modal for Contact - us Button -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Contact Us</h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="Name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="Name"
                      placeholder="Name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="Email">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="Email-1"
                      placeholder="Email"
                    />
                  </div>
                  <div class="form-group">
                    <label for="Message">Message</label>
                    <textarea
                      class="form-control"
                      id="Message"
                      placeholder="Enter your Message"
                    ></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-light"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-success">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'landingPage/vendors/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'landingPage/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'landingPage/vendors/owl-carousel/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'landingPage/vendors/aos/js/aos.js' %}"></script>
    <script src="{% static 'landingPage/js/landingpage.js' %}"></script>
  </body>
</html>
