{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Piracy Auditor | Text</title>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{% url 'text' %}">Piracy Auditor</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="margin-left: 0">
          <li class="nav-item nav-one">
            <a class="nav-link" href="{% url 'file' %}"
              >Documents<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item nav-two">
            <a class="nav-link" href="{% url 'text' %}">Text</a>
          </li>
          <li class="nav-item nav-two">
            <a class="nav-link" href="{% url 'compare' %}">Compare Documents</a>
          </li>
          <li class="nav-item nav-two">
            <a class="nav-link" href="{% url 'docs' %}">Documentation </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-content">
            <p class="heading text-center text-gradient overlay_title waviy">
              <span class="text-gradient" style="--i: 1">Enter</span>
              <span class="text-gradient" style="--i: 2">text</span>
              <span class="text-gradient" style="--i: 3">for</span>
              <span class="text-gradient" style="--i: 4">Plagiarism</span>
              <span class="text-gradient" style="--i: 5">detection</span>
            </p>
            <div class="tab-content-1">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="text-tab"
                    data-toggle="tab"
                    href="#text-input-ws"
                    role="tab"
                    aria-controls="text-input-ws"
                    aria-selected="true"
                    onclick="makeInvisible()"
                    >Text</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="text-input-ws"
                  role="tabpanel"
                  aria-labelledby="text-tab"
                >
                  <form id="form1-ws" action="/text-test-result/" method="POST">
                    {% csrf_token %}
                    <textarea id="text-1" name="q" required></textarea>
                  </form>
                </div>
              </div>
            </div>
            <div class="text-center mt-4">
              <button
                type="submit"
                form="form1-ws"
                id="submit-button-1"
                class="btn"
              >
                Run Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
